@model ThanksViewModel

@{
    ViewData["Title"] = "Teşekkürler";
}

<div class="swiper hero-slider relative">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="hero-slider-item"
                 style="background-image: url('assets/images/slider/slider-2.png');">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            Form
                        </div>
                        <div class="hero-slider-item-title">
                            Teşekkürler
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sektörel Referanslarımız -->
<section class="mt-10 is-ortaklarimiz">
    <div class="container">
        <div class="grid gap-3 py-14 md:px-32 px-10" style="text-align:center;font-size: 30px;">
            <h3>@Localizer["Sipariş No"]:@Model.ApiBasvuruRequest.SiparisKodu </h3>
            <p>@Localizer["Bilgileriniz Alınmıştır En Kısa Sürede Sizin İle İletişime Geçilecektir."]</p>
            @if (Model.ApiBasvuruRequest.OdemeTipi == 2)
            {
                <p class="py-4">@Html.Raw(Model.HavaleEft.Content)</p>
            }
        </div>
    </div>
</section>


<script type="module">
    import {
        stickyHeader,
        checkTheme,
        customTab,
        mobileSubMenu,
        drawerControl,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        customTab()
        mobileSubMenu()
        drawerControl()
        AOS.init({
            duration: 800,
        })
    })
</script>