@model PageDetailViewModel
@using System.Globalization
@{
    ViewData["Title"] = Model.PageLanguageInfo?.Title;
}

<div class="swiper hero-slider relative">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="hero-slider-item animated-background bg-gradient-to-r from-primary-red via-red-800 to-red-900">
                <div class="hero-slider-item-content !bg-transparent">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            @Localizer["Sayfalar"]
                        </div>
                        <div class="hero-slider-item-title !text-5xl">
                            @Model.PageLanguageInfo?.Title
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Raw(Model.PageLanguageInfo?.Content)


<script type="module">
    import {
        stickyHeader,
        checkTheme,
        customTab,
        mobileSubMenu,
        drawerControl,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        customTab()
        mobileSubMenu()
        drawerControl()
        AOS.init({
            duration: 800,
        })
    })
</script>