@model UiLayoutViewModel
@{
    ViewData["Title"] = "Pin Sorgulama";
}
<!-- Hero -->
<!-- Hero Slider -->
<div class="swiper hero-slider relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- Slide1 -->
        <div class="swiper-slide">
            <div class="hero-slider-item"
                 style="
                            background-image: url('assets/images/slider/slider-1.png');
                        ">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            E-Güven
                        </div>
                        <div class="hero-slider-item-title">
                            PIN Sorgulama
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PIN Sorgulama -->
<section class="mt-10 pin-puk-sorgulama">
    <div class="container">
        <div class="flex flex-col xl:gap-20 gap-10 xl:mt-20 mt-10">
            <div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-16 gap-4 items-center"
                 data-aos="fade-up">
                <div>
                    <div class="text-primary-red font-bold mb-10 text-xl">
                        PIN Sorgulama
                    </div>
                    <form id="pinPukForm" class="base-form flex flex-col gap-3">
                        <div class="grid grid-cols-2 gap-6">
                            <div class="base-form-group">
                                <label for="tckn">
                                    <input type="radio" name="tipi" id="tckn" class="mr-1.5" checked/>TC Kimlik Numarası
                                </label>
                            </div>
                            <div class="base-form-group">
                                <label for="passport">
                                    <input type="radio" name="tipi" id="passport" class="mr-1.5" /> Pasaport Numarası
                                </label>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-6">
                            <div class="base-form-group">
                                <input type="text" name="tcpasport" maxlength="11" minlength="9" required />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-6">
                            <div class="base-form-group">
                                <label for="last2Digits"> Telefon Numarası Son İki Hanesi</label>
                                <input type="text" id="last2Digits" name="tel" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" maxlength="2" minlength="2" required />
                            </div>
                        </div>

                        <div class="base-form-group mt-3">
                            <!-- TODO:Buraya google captcha gelecek -->
                            <div class="max-w-52">Google Captcha</div>

                            <ul class="flex flex-col gap-3 mt-5">
                                <li>
                                    * PIN sorgulama yalnızca eToken için
                                    kullanılabilir.
                                </li>
                                <li>
                                    * Telefonunuza gönderilecek şifre
                                    E-Güven tarafından size ilk
                                    bildirilen şifredir.
                                </li>
                                <li>
                                    * Eğer ilk şifrenizi
                                    değiştirdiyseniz ya da eToken
                                    dışında bir token kullanıyorsanız
                                    destek için 0(850) 321 85 55
                                    numaralı çağrı merkezimize
                                    ulaşabilirsiniz.
                                </li>
                            </ul>
                        </div>
                        <div class="base-form-group mt-8">
                            <input type="hidden" name="type" value="pin" />
                            <button type="submit" class="btn btn-primary-red w-40" id="submitButton">Sorgula</button>
                        </div>
                    </form>
                </div>
                <div class="flex items-center justify-end">
                    <!-- Single Video -->
                    <div class="xl:max-w-md bg-primary-gray rounded-5 shadow-md group shrink-0 w-full"
                         data-aos="fade-up">
                        <a href="javascript:;"
                           class="relative overflow-hidden block rounded-t-5">
                            <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear w-full"
                                 src="assets/images/pin-sorgulama-sample-video-cover.png"
                                 alt="Video Name" />
                            <div class="absolute inset-0 flex items-center justify-center text-white text-6xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                <span class="icon-play"></span>
                            </div>
                        </a>
                        <a href="javascript:;"
                           class="p-5 text-center block">
                            <div class="inline-flex flex-col gap-1">
                                <h5 class="tracking-tight text-primary-red text-xs">
                                    Yardımcı Videolar
                                </h5>
                                <p class="text-2xl font-bold line-clamp-1 text-primary-dark">
                                    PIN Kodu Sorgulama
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="module">
    import {
        stickyHeader,
        checkTheme,
        heroSlider,
        mobileSubMenu,
        drawerControl,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        heroSlider()
        mobileSubMenu()
        drawerControl()
        AOS.init({
            duration: 800,
        })
    })
</script>