@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Slider -->
<div class="swiper hero-slider relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- Slide1 -->
        <div class="swiper-slide">
            <div class="hero-slider-item" style="background-image: url('assets/images/slider/slider-1.png');">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            Yenilikçi ve fayda odaklı çözümler sunan
                        </div>
                        <div class="hero-slider-item-title">
                            E-Güven hayatı kolaylaştırır
                        </div>
                        <button class="btn btn-common">
                            Detaylı bilgi için
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
            <div class="hero-slider-item" style="background-image: url('assets/images/slider/slider-2.png');">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit.
                        </div>
                        <div class="hero-slider-item-title">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Ab.
                        </div>
                        <button class="btn btn-common">
                            Detaylı bilgi için
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
            <div class="hero-slider-item" style="background-image: url('assets/images/slider/slider-3.png');">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit.
                        </div>
                        <div class="hero-slider-item-title">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Ab.
                        </div>
                        <button class="btn btn-common">
                            Detaylı bilgi için
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- Prev Video -->
    <div class="flex items-center justify-between text-xl text-primary-gray hero-slider-prev absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 left-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-left"></span>
    </div>

    <!-- Next Video -->
    <div class="flex items-center justify-between text-2xl text-primary-gray hero-slider-next absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 right-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-right"></span>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">@Localizer["title"]</h1>
    <h1 class="display-4">@Localizer["title-panel"]</h1>
    <a href="/Home/s/SetLang?lng=tr&returnUrl=@Context.Request.Path">Türkçe</a>
    <a href="/Home/s/SetLang?lng=en&returnUrl=@Context.Request.Path">English</a>
</div>
